/* BODY */


/* HEADER */
#branch h1{
  text-align: center;
  font-size: 3em;
  margin-top: 3%; 
}

#returnLogo{
  float: left;
}
/* MAIN */
#branch h2{
  margin-top: 0px;
  text-align: center;
  font-size: 30px;
  padding: 30px;
}

section#branch {
  text-align: center;
}

#img-container{
  margin: auto;
  display: inline-block;
  text-align: center;
  width: 1000px;
}

#btn{
  background-color: rgb(28, 160, 236);
  width: max-content;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  display: none;
}

#countdown{
  position: absolute;
  left: 2%;
  top: 50%;
  background-color: rgb(28, 160, 236);
  width: max-content;
  padding: 18px;
  margin: auto;
  border-radius: 10px;
  font-size: 30pt;
}

#btn:hover {
  background-color:green;
  cursor: pointer;
}

#One{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 35px;
}

#Two{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 35px;
}

#imgOne:hover {
  cursor: pointer;
}

#imgTwo:hover {
  cursor: pointer;
}

#imgThree:hover {
  cursor: pointer;
}

#imgFour:hover {
  cursor: pointer;
}

#branchchoice {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

#quiz {
  /* display: flex;
  justify-content: space-around; */
  align-items: center;
  margin-top: 15px;
  margin: auto;
}

#summary {
  display: none;
}