h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 50px;
}


.topnav div:first-child {
  margin-left: 35px;
  float: left;
}

.topnav div:nth-child(2) {
  border: 2px solid black;
  width: 50px;
}