#branchImage{
  margin-top: 3%;
  margin-left: 42.5%;
}
#chosenBranchReason{
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: 'Black Ops One', cursive;
}
#myPieChart{
 margin-bottom: 3%;
 width: 1300px !important;
 height: 700px !important;
 margin-left: 16.5%;
}

#textBeforeQuiz{
  font-family:'Black Ops One', cursive;;
}
#quizHolder{
  margin-left: 33%;
  margin-top: 3%;
}

#quiz{
  font-size: 1.5em;
}

input:last-child {
  margin-left: 350px;
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: red;
  color: white;
}

#occupation{
  display: none;
}

#branchDisplay{
  margin-top: 0px;
  padding-top: 20px;
  font-size: 2em;
  text-align: center;
  font-family: 'Black Ops One', cursive;
}

#btn{
  text-align: center;
  font-size: 2em;
  font-style: italic;
}

#btn:hover{
  text-decoration: wavy;
}